@font-face {
    font-family: 'Inter';
    src: url(/home/rawr/development/social-links-profile-main/assets/fonts/Inter-VariableFont_slnt,wght.ttf) format('truetype');
    font-weight: 400 700;
    font-display: swap;
}
:root{
    --background-color:hsl(0, 0%, 8%);
    --container-background-color:hsl(0, 0%, 12%);
    --white-color:hsl(0, 0%, 100%) ;
    --light-gray-color:hsl(0, 0%, 20%);
    --neon-color:hsl(75, 94%, 57%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:var(--background-color);
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Inter',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container{
    height: 40rem;
    width: 25rem;
    display: grid;
    place-content: center;
    background-color:var(--container-background-color);
    margin:auto;
    align-items: center;
    border-radius: 15px;
    padding: 10px;

}
.user-info{
    display: grid;
    grid-template-rows:7rem 2rem 2.5rem 3rem;
    align-items: center;
    text-align: center;
}
img{
    border-radius: 50%;
    max-width: 90px;
}
.username{
    color:var(--white-color);
}
.user-address{
    color:var(--neon-color);
}
.user-description{
    color:var(--white-color);
    font-size: 14px;
    text-wrap: wrap;
}
.user-social-links{
    display: grid;
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem ;
    grid-template-columns: 20rem;
    place-content: center;
    gap: 20px;
    
}
.link{
    background-color:var(--light-gray-color);
    text-align: center; 
    place-content: center;
    text-decoration: none;
    color: var(--white-color) ;
    border-radius: 10px;
}
.link:hover{
    background-color:var(--neon-color);
    color: var(--light-gray-color);
}
.link:focus{
    outline: 1px solid var(--neon-color);

}
footer{
    padding: 20px;
    color:var(--white-color);
}
.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color:var(--neon-color); 
}
@media screen and (max-width:480px) {
    .container{
        height: 38rem;
        width: 21rem;
        margin-top: 10px;
    
    }
    .user-social-links{
        grid-template-columns: 18rem;
    }
    
}